---
import Post from "../../components/Post.astro";
import Island from "../../layouts/Island.astro";

import { getCollection } from "astro:content";
import PageMeta from "../../components/PageMeta.astro";
import BlogPostIslandContent from "../../components/BlogPostIslandContent.vue";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const { headings } = await entry.render();
---

<Island
  title={entry.data.title}
  titleLink={`/blog/${entry.slug}`}
  image="typewriter.png"
  imageLink="/blog"
>
  <div slot="island" class="text-left">
    <BlogPostIslandContent entryMeta={entry.data} headings={headings} client:load />
  </div>
  <PageMeta
    slot="head"
    title={entry.data.title}
    description={entry.data.tagline}
    image={entry.data.image ?? "typewriter.png"}
  />
  <div class="flex flex-col">
    <Post entry={entry} standalone />
  </div>
</Island>
