---
import ProjectItem from "../../components/ProjectItem.vue";
import PageMeta from "../../components/PageMeta.astro";
import Island from "../../layouts/Island.astro";
import { getCollection } from "astro:content";
import ImageSlideshow from "../../components/ImageSlideshow.vue";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
const description = entry.data.description || remarkPluginFrontmatter.description;
---

<Island title={entry.data.title} titleLink="/projects/" image="circuit.png">
  <PageMeta
    title={entry.data.title}
    description={description}
    image={entry.data.image ? "projects" + entry.data.image : undefined}
    slot="head"
  />
  <div class="text-center block" slot="island">
    <p class="my-2">{description}</p>
    <a href={"/projects/#" + entry.slug} class="underline">(back to all projects)</a>
  </div>
  <div class="my-12">
    <ProjectItem entry={entry} :standalone="true">
      {
        !!entry.data.images?.length && (
          <ImageSlideshow
            client:load
            images={entry.data.images.map((i) => ({ ...i, url: "projects" + i.url }))}
          />
        )
      }
      <Content />
    </ProjectItem>
  </div>
</Island>
