---
import ProjectItem from "../../components/ProjectItem.vue";

import { getEntry } from "astro:content";
import Island from "../../layouts/Island.astro";
import PageMeta from "../../components/PageMeta.astro";
import ProjectsIslandContent from "../../components/ProjectsIslandContent.vue";
import ImageSlideshow from "../../components/ImageSlideshow.vue";
import { imageAsset } from "../../images";
import { getImage } from "astro:assets";

const projectData = await Promise.all(
  [
    "highlights",
    "townchest",
    "hacksu-lessons",
    "khe-io",
    "small-sites",
    "libsrcml-js",
    "research-folder",
    "bundle-md",
    "singlehanded",
    "perspective",
    "mitchbot-streams",
    "spelling-bee",
    "catullus",
    // "corn-simulator", // (folded into small-sites)
    "minecraft-maps",
    "twitter-messages-archive",
    "presentations",
    "sweet-sh",
    "this-website",
  ].map(async (title) => {
    const e = await getEntry("projects", title);
    if (!e) {
      throw new Error("could not find project entry: " + title);
    }
    if (e.data.images?.length) {
      const images = await Promise.all(
        e.data.images.map(async (i) => {
          const metadata = await imageAsset("projects" + i.url);
          const optimizedImage = await getImage({ src: metadata, quality: 95 });
          return { ...i, metadata, optimizedImage };
        })
      );
      return { ...e, images };
    }
    return e;
  })
);

const [highlights, ...allProjects] = projectData;
const HighlightsContent = (await highlights.render()).Content;
---

<style is:global>
  :root {
    --main-bg: #fcfcfc;
    --content-pane-bg: white;
    --shadow-color: rgb(100, 100, 100);
  }
</style>

<Island title="What Have I Done?" titleLink="/projects/" image="circuit.png">
  <PageMeta
    slot="head"
    title="Projects"
    description="Stuff I've made."
    image="circuit.png"
  />
  <Fragment slot="island">
    <ProjectsIslandContent client:load>
      <Fragment slot="text">
        <p class="my-3">
          This is a question we must all ask ourselves from time to time, and this is the
          page where I'm recording my answers.
        </p>
      </Fragment>
      <Fragment slot="toc">
        {
          (
            <ul class="text-left pl-4">
              {allProjects.map((p) => (
                <li class="my-1">
                  <a href={`#${p.slug}`}>
                    <span class="underline">{p.data.title}</span> ({p.data.date})
                  </a>
                </li>
              ))}
            </ul>
          )
        }</Fragment
      >
    </ProjectsIslandContent>
  </Fragment>
  <div class="my-4 md:my-8">
    <ProjectItem forceRounded entry={highlights}>
      <HighlightsContent />
    </ProjectItem>
    <div>
      {
        allProjects.map(async (p, i) => {
          const { Content } = await p.render();
          return (
            <ProjectItem entry={p}>
              {"images" in p && !!p.images?.length && (
                <ImageSlideshow
                  client:load
                  images={p.images.map((i) => ({
                    src: i.optimizedImage.src,
                    alt: i.metadata.alt ?? i.alt ?? "",
                  }))}
                />
              )}
              <Content />
            </ProjectItem>
          );
        })
      }
    </div>
  </div>
</Island>
